CLIENT_ID=xxxclientidxxx
CLIENT_SECRET=xxxclientsecretxxx
URL_ACCESS_TOKEN=https://api.pdffiller.com/v1/oauth/access_token
URL_API_DOMAIN=https://api.pdffiller.com/v1/

PASSWORD_GRANT_CLIENT_ID=xxxclientidxxx
PASSWORD_GRANT_CLIENT_SECRET=xxxclientsecretxxx
USER_ID=xxxuseridxxx
USER_EMAIL=xxx@emailxxxxx.com
PASSWORD=xxxpasswordxxx
PASSWORD_INTERNAL=xxxpasswordxxx